@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;400&display=swap');
/* ********** Custom Properties ********** */
:root{
    --first-color: rgb(49, 49, 49);
    /* --second-color: rgb(97, 20, 221); */
    --second-color: rgb(69, 109, 64);
    
}
/* ********** Reset Styles ********** */
body{
    background: #202020;
    background-image: radial-gradient(#333333 5px, transparent 5px);
    background-size: 50px 50px;
}


/* ********** Bootstrap Styles ********** */
.bg-dark{

    background-color: var(--second-color) !important;
}

/* ********** Custom Properties ********** */

.loginPage{

    max-width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.btn_img{
    fill: red;
}
.taskCard{
 
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.navBar{
    max-width: 1500px;
}

a{
    filter: brightness(.9);
    transition: all .1s ease-in-out;
}
a:hover{
    transition: all .1s ease-in-out;
    filter: brightness(1.5);
    transform: scale(1.1);
}

.homePage{
    backdrop-filter: blur(3px);
    background-color: rgba(69, 109, 64, 0.329);
    
}
  

